body {
    font-family: 'Jost', sans-serif;
}

/* Colores 
$rich-black-fogra-39: #0a0c08ff;
$nickel: #717568ff;
$mikado-yellow: #ffc60aff;
$red-orange-color-wheel: #ff531fff;
$blue-ncs: #1688b6ff;
$snow: #fffbffff;
*/